{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% block header %}
{{ include('navbar/navbar.html.twig')}}
{% endblock %}
<div class="container">
    <h1 class="text-center mt-5 mb-5"> Register </h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.professions) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.codePostal) }}
        {{ form_row(registrationForm.ville) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.nrSiret) }}
        {{ form_row(registrationForm.email) }}
        {# {{ form_row(registrationForm.email) }} #}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% block footer %}
{{ include('footer/footer.html.twig')}}
{% endblock %}
{% endblock %}
