{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
{# {{ include('navbar/navbar.html.twig') }} #}
<div class="container">

    <h1 class="text-center mt-5 mb-5">listes des projets publiés</h1>

    {% for projet in projets %}

        <div class="card border-light my-3" >
                {# <div class="card-header">Header</div> #}
                <div class="card-header d-flex justify-content-between">
                    <h5>{{ projet.titre }}</h5>
                    <div class="d-flex">
                    <p class="">{{ projet.codePostal }}</p>
                    <p class="mx-3">{{ projet.ville }}</p>
                    <p><small>{{ projet.createdAt ? projet.createdAt|date('d-m-Y') : '' }}</small></p>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                    <p class="card-text">{{ projet.description }}</p>
                    <p><small>{{ projet.user.id }}</small></p>
                    </div>
                </div>
                <a href="{{path('app_projet_show', {'id' : projet.id})}}">show</a>
        </div>

        

    {% endfor %}

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(projets) }}
    </div>

    <a  class="d-block text-center btn btn-primary" href="{{ path('app_projet_new') }}">publier un projet</a>

</div>
{# {% block footer %}
    {{ include('footer/footer.html.twig') }}
{% endblock %} #}
{% endblock %}
