{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
{# {% block header %}
{{ include('navbar/navbar.html.twig') }}
{% endblock  %} #}
<div class="container">
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ projet.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ projet.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ projet.ville }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ projet.createdAt ? projet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_projet_index') }}">back to list</a>

    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>

    {{ include('projet/_delete_form.html.twig') }}
</div>

{# {% block footer %}
    {{ include('footer/footer.html.twig') }}
{% endblock  %} #}
{% endblock %}
