
{% block nav %}
<nav class="navbar navbar-expand-lg fixed-top  navbar-dark bg-dark">
      <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">home
                        <span class="visually-hidden">(current)</span>
                        </a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="{{path('app_projet_index')}}">annonces</a>
                  </li>
            </ul>

      <ul class="navbar-nav ms-auto">
      {% if app.user %}
            <li class="nav-item">
                  <a class="nav-link" href="{{path('app_user_show',{'id': app.user.id})}}"> <i class="fa-solid fa-user"></i> {{app.user.nom}}</a>
            </li>
      
            <li class="nav-item">
                  <a class="nav-link" href="{{path('app_logout')}}">deconnexion</a>
            </li>
            <li class="nav-item">
                        <a class="nav-link" href="{{path('app_projet_new')}}">publier un projet</a>
                  </li>
            <li class="nav-item">
            
      {% else %}
            <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">publier un projet</a>
                  </li>
            <li class="nav-item">
            
                  <a class="nav-link" href="{{path('app_login')}}">connexion</a>
            </li>
            {# <li class="nav-item">
            
                  <a class="nav-link" href="{{path('app_register')}}">inscription</a>
            </li> #}
      {% endif %}
            

      </ul>
      </div>
      </div>
</nav>
{% endblock nav %}
